# Ignore src
src

# Ignore database
.cdl_tse

# Ignore venv
.venv

# Ignore python source files
*.py
*.so
*.ipynb
# Ignore build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.c
*.cpp
*.h
build/
dist/
*.egg-info/
